.el-table th{
    background-color: #f4f9ff;
}
.el-table th, .el-table td{
    text-align: center;
    border-right-color: #dedede;
    padding: 7px 0;
    color: #333;
    font-size: 13px;
}
.el-main{
    padding: 0;
}
.el-table--border{
    border-color: #cecece;
    box-shadow: 0 2px 30px 0px #eee;
}
